<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title week1
    body
        .header.container-center
            .person-name
                span Joanne
                br
                span Chen
            .person-img
                img(src="img/joannechen.png", alt="")
        .container-center
            .title.mb-2 
                span 個人資料
                span.title-style.tolor-point PROFILE
            .content.mb-9
                .wrap.pl-6.mb-3
                    .circle
                    ul
                        li 陳久安 Joanne Chen
                        li 1997- 
                        li 應屆畢業生／接案設計師／UI 設計實習生
                .wrap.pl-6
                    ul
                        li UI 設計修行中／立志當斜槓青年
                        li 獨立接案，內容涵蓋：
                        li 品牌規劃、視覺設計、編輯設計、標準字、物件及印刷品設計等。

        .container-center
            .title.mb-2
                span 學歷
                span.title-style.tolor-point EDUCATION
            .content.mb-9
                .wrap.pl-6.mb-4
                    .circle
                    ul
                        li 國立六角師範大學 視覺設計學系 學士學位 | 2016－2020
                .wrap.pl-6.mb-9
                    .circle
                    .line
                    ul
                        li 國立六腳高級中學 美術班 | 2013－2016
        

        .skill-bar.mb-9
            .skill.container-center.bgcolor-dark.tcolor-light
                .title.content-center 
                    span 技能
                    span.title-style SKILLS
                .list.content-center
                    ul
                        li.mb-2 Adobe Photoshop
                        li.mb-2 Adobe Illustrator
                        li.mb-2 Adobe XD
                        li.mb-2 Adobe Indesign
                        li.mb-2 C4D
                        li.mb-2 Adobe Premiere
                        li 語言：中文、英文

        .exp.container-center
            .title.mb-2
                span 工作經驗
                span.title-style.tolor-point WORK EXPERIENCE
            .content.mb-9
                .wrap
                    ul
                        li.fw-bolder.mb-4 六角學院 視覺設計實習生 | 2019/07－2020/06
                            img(src="img/six.png", alt="")
                            p 在六角學院長達一年的實習中，前期藉由公司課程掌握 HTML, CSS, Adobe XD，設計給學員使用的名片設計教材，並參與六角週年活動，設計各式周邊商品及活動網路宣傳圖。後期進入 UI 設計範疇，設計六角共筆部落格 - W3HexSchool、六角發案服務網介面設計、供給學員的教 案- RWD官方網站設計，並設計各式網頁活動宣傳圖。
                        li.fw-bolder.mb-4 獨立接案 Hao Jun 酒標設計 | 2019
                        li.fw-bolder.mb-4 獨立接案 Exulans 酒標設計 | 2019
                        li.fw-bolder.mb-4 獨立接案 桃園平鎮市民健走活動提案 | 2019
                        li.fw-bolder Simtree 興趣咖啡 工讀生 | 2018－2019
                            img(src="img/tree.png", alt="")
                            p 擔任外場及吧台服務生，學習咖啡相關知識。
        .footer.bgcolor-dark.tcolor-light
            .title.content-center 
                span 聯絡方式
                span.title-style CONTACT METHOD
            .list
                ul
                    li.mb-2 Mail：xxxd@hexschool.com
                    li.mb-2 Phone：0910123456
                    li.mb-2 Kaohsiung, Taiwan
                    li.mb-2 作品連結：https://www.behance.net/xxxdddddd
                    li.icons.content-center
                        img.pr-2(src="img/facebook.png", alt="facebook")
                        img.pr-2(src="img/instagram-alt.png", alt="instagram")
                        img.pr-2(src="img/line.png", alt="line")
                
